.portfolio {
    max-width: 985px;
    margin: 0 auto;
    position: relative;
    padding: 100px 50px;
    z-index: 1;

    &__background {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        height: 100%;
        width: 60%;
        max-width: 400px;
        background-color: $pink;
        border-radius: 20px;

        @include breakpoints-up(xlarge){
            max-width: 400px;
        }
    }

    &__items {
        position: relative;
        display: grid;
        grid-template-columns: repeat(1, auto);
        grid-gap: 16px;
        list-style: none;
        max-width: 553px;
        margin: 0 auto;
        padding: 0;

        @include breakpoints-up(medium){
            grid-template-columns: repeat(2, auto);
        }

        @include breakpoints-up(xlarge){
            max-width: 885px;
            grid-template-columns: repeat(3, auto);
        }
    }

    &__item {
        justify-self: center;
    }

    &__img {
        max-width: 280px;
        border-radius: 10px;
        filter: brightness(.7);
        transition-duration: .3s;
    }

    &__img:hover {
        filter: brightness(1);
    }

    &__info {
        position: relative;
        
        min-width: 280px;
        max-width: 470px;
        border-radius: 20px;
        margin-top: 16px;
        padding: 15px;
        background-color: $white;

        @include breakpoints-up(medium){
            position: absolute;
            top: 70%;
            right: 20px;
        }

        @include breakpoints-up(xlarge){
            right: 0;
        }
    }
}